body {
    padding: 0;
    margin: 0;
    background: #D4DFE3;
}
.navbar {
    background:black;
    position:sticky;
}
.nav-link,
.navbar-brand {
    color:white;
    cursor: pointer;
    
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
    
}
.header {
    background-image: url(data:https://lh3.googleusercontent.com/pV_AN2VMEZncyryLQETrb7o8bSYUPC6W_2uBtoqpXz45B7LKvTOHkUKLEGdeywvJk1CxZZgKtBYdjLyys9CKDhFWgFn1qWR_VwyST_lvva1U-FHPrHhc69wSew7vNhzBb_6mE208wA=w2400);
    background-size: cover;
    background-position: center;
    position: relative;
    
}
.header1 {
    background-image: url(https://lh3.googleusercontent.com/pV_AN2VMEZncyryLQETrb7o8bSYUPC6W_2uBtoqpXz45B7LKvTOHkUKLEGdeywvJk1CxZZgKtBYdjLyys9CKDhFWgFn1qWR_VwyST_lvva1U-FHPrHhc69wSew7vNhzBb_6mE208wA=w2400);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    opacity: 0.6;
    object-fit:contain;
}
.grayoverlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background:lightslategrey;
    opacity: 0.6;
}

.newbox {
    padding: 30px;
    border-radius: 50px;
    background:rgb(26, 26, 26);
    border: 2px solid rgb(0, 0, 0);
   
}

.center{
    position: relative;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    right:0;
    top: 20%;

}
.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: white;
}
.description p {
	color:white;
	font-size: 1.3rem;
    line-height: 1.5;
   
}
.description button {
    border:1px solid rgb(0, 0, 0);
    background: rgb(28, 26, 26);
    border-radius: 0;
    color:black;
    border-radius: 25px;
}
.description button:hover {
	border:1px solid #fff;
    background:#fff;
    color:#000;

}
.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}
.features1 {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}
.feature-title {
    color: black;
    text-align: center;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
  
}
.features .form-control,
.features input {
	border-radius: 0;
}
.features .btn {
    background-color: lightgrey;
    border: 1px solid lightgray;
    color: #fff;
    margin-top: 20px;
}
.features .btn:hover {
    background-color: #EF553C;
    border: 1px solid #EF553C;
}
@media (max-width: 575.98px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }
 
    .description h1 {
        font-size: 2em;
    }
 
    .description p {
        font-size: 1.2rem;
    }
 
    .features {
        margin: 0;
    }
}
#demo-modal .modal-content {
    border-radius: 0;
    padding: 2rem;
}
#demo-modal .modal-header {
    border-bottom: none;
}
#demo-modal h4 {
    color: #000;
    font-size: 30px;
    margin: 0 0 25px;
    font-weight: bold;
    text-transform: capitalize;
    
}
#demo-modal .close {
    background: #c0c3c8;
    border-radius: 50%;
    color: #fff;
    font-size: 19px;
    font-weight: normal;
    height: 30px;
    opacity: 0.5;
    padding: 0;
    position: absolute;
    right: 26px;
    text-align: center;
    top: 26px;
    width: 30px;
}
#demo-modal .close span {
    position: relative;
    top: -3px;
}
#demo-modal .modal-body p {
    color: #999;
}
#demo-modal .form-control,
#demo-modal .btn {
    min-height: 46px;
}
#demo-modal .btn {
    background-color: #508AB2;
    border: none;
    color: #fff;
    min-width: 150px;
    transition: all 0.4s;
}
#demo-modal .btn:hover,
#demo-modal .btn:focus {
    background-color: #508AB2;
}

.align{
    text-align: center;
    color: #32708d;
}
.white{
    text-align: center;
    color:white;
}
.centergray{
    text-align: center;
    color:#3D4A81;
    font-weight: bold;
    font-size: 20px;
}

.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}
.footer-copyright {
    color: #666;
    padding: 40px 0;
}